* {
    border-radius: 0;
    font-family: "DepartureMono Nerd Font";
    font-size: 1em;
}

#waybar {
    background: #000;
    color: #fff;
}

#pulseaudio,
#battery,
#tray,
#language,
#clock,
#workspaces button {
    color: #888;
    background: #222;
    border: 1px solid #333;
    margin: 2px 1px;
}

#pulseaudio,
#battery,
#tray,
#language,
#clock { padding: 0 8px; }

#workspaces button { padding: 0 1px; }

#workspaces button.focused {
    color: #fff;
    background: #285577;
    border-color: #4c7899;
}

#mode {
    color: #fff;
    background: #900;
    border: 1px solid #2f343a;
    padding: 0 6px;
    margin: 2px 1px;
}

#custom-popup {
    color: #fff;
    background: #285577;
    border: 1px solid #4c7899;
    padding: 0 4px;
    margin: 2px 1px;
}

#battery.warning { color: #ff0; }
#battery.critical { color: #f00; }
