[user]
	name = Roman Rossamakhin
	email = rossamakhin01@gmail.com
[core]
	autocrlf = input
[push]
	autoSetupRemote = true
[alias]
	llog = log --all --decorate --oneline --graph
	bbranch = branch -a -vvv
