[Desktop Entry]
Version=1.0
Name=pyTimeSched
Exec=~/.local/opt/pytimesched/pyTimeSched
Icon=~/.local/opt/pytimesched/gui/icons/icon.png
Terminal=false
Type=Application
